<div class="login-page">
    <div class="container">
        <div *ngIf="registerPage" class="row justify-content-center pt-4">
            <div class="col-md-4">
                <div class="card">
                    <header class="card-header">
                        <a (click)="changelogin('login');" class="headerbtn btn btn-outline-primary mt-1">Log in</a>
                        <h4 class="card-title mt-2">Register</h4>
                    </header>
                    <article class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()">
                            <div class="form-row">
                                <div class="col form-group py-2">
                                    <label>First name </label>
                                    <input type="text" class="form-control" placeholder="" 
                                    [ngClass]="{ 'is-invalid': isSubmitted && registerForm_valid.firstName.errors }"
                                    formControlName="firstName">
                                    <div *ngIf="isSubmitted && registerForm_valid.firstName.errors" class="invalid-feedback">
                                        <div *ngIf="registerForm_valid.firstName.errors.required">FirstName is required</div>
                                    </div>
                                </div>
                                <div class="col form-group py-2">
                                    <label>Last name</label>
                                    <input type="text" class="form-control" placeholder=" "
                                    [ngClass]="{ 'is-invalid': isSubmitted && registerForm_valid.lastName.errors }"
                                    formControlName="lastName">
                                    <div *ngIf="isSubmitted && registerForm_valid.lastName.errors" class="invalid-feedback">
                                        <div *ngIf="registerForm_valid.lastName.errors.required">LastName is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder=""
                                [ngClass]="{ 'is-invalid': isSubmitted && registerForm_valid.email.errors }"
                                formControlName="email">
                                <div *ngIf="isSubmitted && registerForm_valid.email.errors" class="invalid-feedback">
                                    <div *ngIf="registerForm_valid.email.errors.required">Email Address is required</div>
                                    <div class="alert alert-danger" *ngIf="registerForm_valid.email.errors?.pattern">
                                        Invalid Email</div>
                                </div>
                                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group py-2">
                                <label>Create password</label>
                                <input class="form-control" type="password"
                                [ngClass]="{ 'is-invalid': isSubmitted && registerForm_valid.password.errors }"
                                formControlName="password">
                                <div *ngIf="isSubmitted && registerForm_valid.password.errors" class="invalid-feedback">
                                    <div *ngIf="registerForm_valid.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <button type="submit" class="btn btn-primary btn-block w-100"> Register </button>
                            </div>
                            <small class="text-muted">By clicking the 'Register' button, you confirm that you accept our <br>
                                Terms of use and Privacy Policy.</small>
                        </form>
                    </article>
                    <div class="border-top card-body text-center">Have an account? <a (click)="changelogin('login');" style="cursor: pointer;">Log In</a></div>
                </div>
            </div>

        </div>

        <div *ngIf="loginPage" class="row justify-content-center pt-5">
            <div class="col-md-4">
                <div class="card">
                    <header class="card-header">
                        <a (click)="changelogin('register');" class="headerbtn btn btn-outline-primary mt-1">Register</a>
                        <h4 class="card-title mt-2">Log in</h4>
                    </header>
                    <article class="card-body">
                        <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
                            <div class="form-group py-2">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="" 
                                [ngClass]="{ 'is-invalid': isLoginSubmitted && loginForm_valid.email.errors }"
                                formControlName="email">
                                <div *ngIf="isLoginSubmitted && loginForm_valid.email.errors" class="invalid-feedback">
                                    <div *ngIf="loginForm_valid.email.errors.required">Email Address is required</div>
                                    <div class="alert alert-danger" *ngIf="loginForm_valid.email.errors?.pattern">
                                        Invalid Email</div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <label>password</label>
                                <input class="form-control" type="password"
                                [ngClass]="{ 'is-invalid': isLoginSubmitted && loginForm_valid.password.errors }"
                                formControlName="password">
                                <div *ngIf="isLoginSubmitted && loginForm_valid.password.errors" class="invalid-feedback">
                                    <div *ngIf="loginForm_valid.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group py-2">
                                <button type="submit" class="btn btn-primary btn-block w-100"> Login </button>
                            </div>
                        </form>
                    </article>
                    <div class="border-top card-body text-center">Haven't an account? <a (click)="changelogin('register');" style="cursor: pointer;">Register</a></div>
                </div>
            </div>

        </div>
    </div>
</div>