<a id="show-sidebar" class="btn btn-sm btn-dark" (click)="sidebar()">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a class="tit">Demo Login</a>
        <div id="close-sidebar" (click)="sidebar()">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>{{user.firstName +' '+ user.lastName}}</strong>
            <br><span style="font-size: 10px;">{{user.role[0].roleName}}</span>
          </span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul *ngIf="user.role[0].roleName=='ADMIN'">
          <li class="header-menu">
            <span>Menu</span>
          </li>
          <li>
            <a routerLink="/dashboard">
              <i class="fa fa-user"></i>
              <span>User List</span>
            </a>
          </li>
          <li>
            <a routerLink="addnewuser">
              <i class="fa fa-plus"></i>
              <span>Add New User</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a (click)="logout()" style="cursor: pointer;"> Logout
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>