<div class="container">
    <h4>{{title}}</h4>
    <hr>
    <div class="row">
        <div class="form-group col-md-12" *ngIf="role=='ADMIN'">
            <div class="table-responsive mt-2">
                <table id="" class="mydatatable mytable table table-border table-hover table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <!-- <th class="text-center">Action</th> -->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let items of tableGridData; let i=index;">
                        <td>{{ i+1 }}</td>
                        <td>{{ items.firstName }}</td>
                        <td>{{ items.lastName }}</td>
                        <td>{{ items.email }}</td>
                        <td>{{ items.role[0].roleName }}</td>
                        <td>{{ items.status }}</td>
                        <!-- <td class="text-center"><a class="font" (click)="navigation(items)"><i class="fa fa-edit"></i></a></td> -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group col-md-12" *ngIf="role!='ADMIN'">
            <form class="form-content bg-light-blue" [formGroup]="formDataDetails">
                <div class="row py-3 bg-white">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">FirstName</label>
                        <input type="text" class="form-control" formControlName="firstName" readonly>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">LastName</label>
                        <input type="text" class="form-control" formControlName="lastName" readonly>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">Email</label>
                        <input type="email" class="form-control" formControlName="email" readonly>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">Password</label>
                        <input type="password" class="form-control" formControlName="password" readonly>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">Role</label>
                        <input type="email" class="form-control" formControlName="role" readonly>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 py-2">
                        <label for="">Status</label>
                        <input type="email" class="form-control" formControlName="status" readonly>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

